@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  background: #151515;
  color: #ffffff;
}

input,
textarea {
  background-color: transparent;
  font-size: 1em;
  padding: 1em;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  border-radius: 0px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-transform: uppercase;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  text-transform: uppercase;
}

input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
}

div.portfolio-app div.container nav.navigation,
div.portfolio-app div.container div.introduction,
div.portfolio-app div.container div.contact-me,
div.portfolio-app div.container div.projects-container,
div.portfolio-app div.container div.skills-container {
  padding: 1em;
}

div.portfolio-app div.container nav.navigation,
div.portfolio-app div.container footer.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.portfolio-app div.container nav.navigation b.logo,
div.portfolio-app div.container footer.footer b.logo {
  margin-bottom: 0.3em;
  font-size: 1.2em;
}

div.portfolio-app div.container nav.navigation aside.social-links a,
div.portfolio-app div.container footer.footer aside.social-links a {
  padding: 0 0.5em;
}

div.portfolio-app div.container div.introduction section {
  padding: 1em 0;
  text-align: center;
}

div.portfolio-app div.container div.introduction section.write-up h1 {
  margin-bottom: 1em;
}

div.portfolio-app div.container div.introduction section.write-up h1 span.stand-out {
  padding: 0.2em 0;
  border-bottom: 3px solid #3474fd;
}

div.portfolio-app div.container div.introduction section.image-container img {
  width: 150px;
}

div.portfolio-app div.container div.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

div.portfolio-app div.container div.skills-container div.skill {
  text-align: center;
  padding: 1em;
}

div.portfolio-app div.container div.skills-container div.skill h1,
div.portfolio-app div.container div.skills-container div.skill p {
  text-transform: uppercase;
}

div.portfolio-app div.container div.skills-container div.skill h1 {
  font-weight: 550;
}

div.portfolio-app div.container div.skills-container div.skill p {
  font-size: 0.8em;
}

div.portfolio-app div.container div.projects-container div.project-container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.portfolio-app div.container div.projects-container div.project-container-head a {
  padding: 0.7em 1em;
  display: inline-block;
  border-bottom: 2px solid #3474fd;
  text-transform: uppercase;
  font-size: 0.9em;
}

div.portfolio-app div.container div.projects-container div.projects div.project div.project-details {
  padding: 1em 0;
}

div.portfolio-app div.container div.projects-container div.projects div.project div.project-details h2 {
  margin-bottom: 0.2em;
}

div.portfolio-app div.container div.projects-container div.projects div.project div.project-details b {
  font-size: 0.7em;
}

div.portfolio-app div.container div.contact-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #242424;
}

div.portfolio-app div.container div.contact-me section {
  padding: 1em 0;
}

div.portfolio-app div.container div.contact-me section.writeup-container {
  text-align: center;
}

div.portfolio-app div.container div.contact-me section.writeup-container h1 {
  margin-bottom: 1.5em;
}

div.portfolio-app div.container div.contact-me section.form-container form div.input-container,
div.portfolio-app div.container div.contact-me section.form-container form div.btn-container {
  margin-bottom: 1em;
}

div.portfolio-app div.container div.contact-me section.form-container form div.input-container input,
div.portfolio-app div.container div.contact-me section.form-container form div.input-container textarea {
  width: 100%;
  resize: none;
  color: #ffffff;
}

div.portfolio-app div.container div.contact-me section.form-container form div.input-container input:active, div.portfolio-app div.container div.contact-me section.form-container form div.input-container input:focus,
div.portfolio-app div.container div.contact-me section.form-container form div.input-container textarea:active,
div.portfolio-app div.container div.contact-me section.form-container form div.input-container textarea:focus {
  border-bottom: 2px solid #3474fd;
}

div.portfolio-app div.container div.contact-me section.form-container form div.input-container input:invalid,
div.portfolio-app div.container div.contact-me section.form-container form div.input-container textarea:invalid {
  border-bottom: 2px solid tomato;
}

div.portfolio-app div.container div.contact-me section.form-container form div.btn-container {
  text-align: right;
}

div.portfolio-app div.container div.contact-me section.form-container form div.btn-container button.btn-submit {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #3474fd;
  background: transparent;
  padding: 1em;
  font-size: 0.9em;
  color: #ffffff;
}

div.portfolio-app div.container footer.footer {
  background: #242424;
}
/*# sourceMappingURL=index.css.map */